name: Update UFC Dataset

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
    inputs:
      jobs_to_run:
        description: "Select the jobs to run"
        required: true
        type: choice
        options:
          - all
          - upload-only
        default: all

jobs:
  update-and-upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Configure Kaggle credentials
        run: |
          mkdir -p ~/.kaggle
          echo "{\"username\":\"${{ secrets.KAGGLE_USERNAME }}\",\"key\":\"${{ secrets.KAGGLE_KEY }}\"}" > ~/.kaggle/kaggle.json
          chmod 600 ~/.kaggle/kaggle.json

      - name: Install dependencies + Kaggle CLI
        run: |
          pip install -r requirements.txt

      - name: Run pipeline
        if: github.event.inputs.jobs_to_run != 'upload-only'
        run: python main.py

      - name: Commit and push changes
        if: github.event.inputs.jobs_to_run != 'upload-only'
        run: |
          git config --local user.email "ameen_alibi@proton.me"
          git config --local user.name "ameen-alibi"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git add data/*.csv raw_data/*.csv
          git diff --staged --quiet || git commit -m "Auto-update: Dataset updated on $(date '+%Y-%m-%d')"
          git push

      - name: Create zip files
        run: |
          zip -jr "upload_ready/data.zip" data/
          zip -jr "upload_ready/raw_data.zip" raw_data/

      - name: Upload new version
        run: |
          TODAY=$(date '+%Y-%m-%d')
          kaggle datasets create -p -p upload_ready 
